body {
  margin: 0;
  background: rgb(0, 0, 0);
  color: rgb(216, 216, 216);
  height: 58rem;
}

header {
  background-color: rgb(67, 67, 67);
  padding: 10px;
  text-align: center;
}

.main {
  background-color: rgb(67, 67, 67);
  border: 2px;
  border-color: aliceblue;
  margin: 10px;
  height: 200px;
  width: 500px;
  padding: 10px;
}
